<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback publisher mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-publisher             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport
        http://logback.qos.ch/translator/
-->
<configuration>
    <property name="LOGS_HOME" value="logs"/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_HOME}/ts-safe.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_HOME}/ts-safe-%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %5level [%thread] %logger{35} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %p[%t] %logger{5} &lt;%m&gt;%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <!--<appender-ref ref="file"/>-->
    </root>

    <logger name="com.ts.server.safe" level="DEBUG"/>
    <logger name="org.springframework.jdbc" level="DEBUG"/>
    <logger name="org.springframework.transaction" level="DEBUG"/>

</configuration>
